:root{
    scroll-padding-top: 11rem;
    --color-primary: #fff;
    --color-secondary: #221922;
    --color-tertiary: #EF98EC;
    --bkg-primary-color: #2E292A;
    --bkg-secondary-color: #fff;
      font-size: 62.5%;

     main{
        min-height: 80vh;
        background-color: #EF98EC;
     }
    
}