.lds-contact{
    padding: 0 0.8rem!important;
  &__header{
      max-width: 113.9rem;
      margin: auto;
    P{
        margin: 4rem 0;
    }
  }

  &__body{
    background:linear-gradient(201.88deg, #F9AAAD 14.33%, #D97077 52.26%, #D97077 90.2%); 
    border-radius: 0.5rem;    
    max-width: 40.4rem;
    margin: auto;
    margin-top: 5.1rem;
    margin-bottom: 5.1rem;
   
    @include media(medium){
        max-width: 113.9rem;
        display: flex;
        justify-content: center;
      
        

    }

    img{
        display: none;
        width: 100%;
        height: auto;
        max-width:49.3rem ;
        object-fit: cover;
        @include media(medium){
           display: inline-block;
        
        }
    }

    form{
        display: flex;
        flex-direction: column;
        padding:  1.6rem;
        justify-content: center;
        
       
        p{
            display: inline-flex;
            flex-direction: column;
            padding:  1.6rem;
            
            margin-bottom: unset;
           
            label{
                font-family: Rosario;
                font-weight: 700;
                font-size: 2rem;
                color: var(--color-primary);
            }

            input{
                width: 100%;
                height: 4.5rem;
                border: none;
                border-radius: 0.5rem;
                padding: 0 1.5rem;
                font-size: 1.6rem;
                font-family: Rosario;
                font-weight: 500;
            }

            textarea{
                width: 100%;
                height: 10rem;
                border: none;
                border-radius: 0.5rem;
                padding: 1.5rem;
                font-size: 1.6rem;
                font-family: Rosario;
                font-weight: 500;
            }

            input[type="submit"]{
               
                color: #fff;
                font-size: 1.8rem;
                font-family: Rosario;
                font-weight: 700;
                cursor: pointer;
                background-color: var(--bkg-secondary-color);
                color: var(--color-tertiary);
                transition: 0.3s ease-in-out;
                padding: unset;
                margin-bottom: 0;
                &:hover{
                    background-color: var(--color-tertiary);
                    color: var(--bkg-secondary-color);
                }
                @include media(medium){
                    max-width: 15.7rem;
                    margin: auto;
                  
                }
            }
        }
        @include media(medium){
            flex: 1;
            max-width: 46.4rem;
        }

        .wpcf7-response-output{
            font-size: 1.8rem;
            font-family: Rosario;
            font-weight: 700;
            color: var(--color-primary);
            line-height: 3rem;
        }
    }
  }

  &__footer{

    p{
        text-align: center;
        margin-bottom: 5.1rem;
        a{
            font-weight: 700;
        }
        span{
            display : flex-inline;
            align-items: center;
            justify-content: center;
        }
    }
    &__reseaux{
        h2{
            margin-bottom: 3rem;
            text-align: center;
        }
        span{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 1.5rem;
            @include media(medium){
                flex-direction: row;
            }
        
        }
        a{
            display:flex;
            justify-content:flex-start;
            align-items: center;
            gap: 1.5rem;
            width: 12.1rem;
        }
    }
  }
}