.lds-serviceDetails{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3.5rem;
    flex-wrap: wrap;
    
    a{
        transition: 0.4s ease-in-out;
          transform: scale(0.9);
        &:hover{
            color: var(--color-secondary);
            transform: scale(1);
        }

    }
    @include media(largeL){
        justify-content: center;
        flex-direction: column;
    }
   
    &__card{
       display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 
        background: #f5f2f2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        overflow: hidden;
        gap: 3.5rem;
        max-width: 38.1rem;
        min-height: 110.1rem;
        max-height: 110.1rem;
        @include media(largeL){
            max-width: 107.7rem;
            min-height: 52.5rem;
       
        }
        &__title{
            text-align: center;
            font-size: 40;
            max-height: 10rem;
            overflow: hidden;
            height: 10rem;
            display: flex;
            align-items: center;
            padding: 0.8rem;
           
        }

        &__content{
           display: flex;
           gap: 1.5rem;
           flex-direction: column;
           @include media(largeL){
               flex-direction: row;
           }
          
           img{
                width: 100%;
                height: 30rem;
                object-fit: cover;
                min-height: 30rem;
                max-height: 30rem;
               
                @include media(largeL){
                    max-width:50%;
                    min-width: 50%;
                    width: 50%;
                    max-height: unset;
                    height: 51.1rem;
                }
           }

           &__right{
            display: flex;
            flex-direction: column-reverse;
            justify-content: flex-start;
            align-items: center;
            padding-bottom: 1.2rem;
            padding-right: 1.2rem;
            gap: 1.5rem;
            @include media(largeL){
                flex-direction: column;
                justify-content: space-between;
                height: 52.2rem;
              
            }
            p{
                line-height: 3.5rem;
                font-size: 1.8rem;
            }

            div{
                background-color:#C837AB ;
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0.8rem 0;
                p{
                    color: var(--color-primary);
                    line-height: normal;
                }
            }

           }
        }
    }
}