@font-face {
    font-family: "SawarabiMincho";
    src: url("./fonts/SawarabiMincho-Regular.ttf");
    font-weight: 400;
    font-display: swap;
}
 @font-face {
    font-family: "Rosario";
    src: url("./fonts/Rosario-VariableFont_wght.ttf");
    font-weight: 400;
    font-display: swap;
} 



